/* General styling for the body of the page */
body {
    background-color: #b69898;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Styling for the header section */
header {
    margin-top: 20px;
}

/* Styling for buttons */
button {
    margin: 5px;
    padding: 8px;
    font-size: 16px;
}

/* Styling for the main content section */
main {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Styling for player elements in the scoreboard */
.player {
    margin: 10px;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 5px;
}

/* Styling for the game board container */
#game-board {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin-top: 20px;
}

/* Styling for game cards */
.card {
    background-image: url("images/question.png");
    width: 100px;
    height: 100px;
    margin: 10px;
    border: solid black;
    border-radius: 10px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
}

/* Styling for flipped cards */
.card.flipped {
    transform: rotateY(180deg);
}

/* Styling for menu buttons */
#menuButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Make buttons stack vertically */
}

/* Styling for player names and AI difficulty sections */
#playerNames,
#aiDifficulty {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    /* Add some margin for better spacing */
}

/* Styling for the current player turn element */
#currentPlayerTurn {
    display: none;
    margin-top: 10px;
    margin-left: 55px;
    /* Add any other styles as needed */
}

/* Styling for the current player element */
#currentPlayer {
    font-weight: bold;
    display: block !important;
    /* Add any other styles as needed */
}

/* Styling for elements with class "some-class" */
.some-class {
    display: none;
    /* Will be overridden by the #currentPlayer styles */
}

/* Styling for the scoreboard */
.scoreboard {
    display: none;
    align-items: top;
    margin-top: 15px;
    width: 380px;
    height: 250px;
    border: solid black;
    padding: 10px;
}

/* Styling for elements with class "hidden" */
.hidden {
    display: none;
}


